<h1>Question</h1>

<form action="/answer" method="get" class="pure-form pure-form-stacked">
  <label>Ask your coach anything :</label>
    <input type="text" name="question" value="<%= params[:question] %>">
  <input class="btn" type="submit" value="Ask!">
</form>